/* app css stylesheet */

html, body{
    background: #1e2024;
    color: #a3a3a3;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.view-container{
    margin: 25px 50px;
    padding: 10px 75px;
    background: #2e2e2e;
}

.form_field{
    margin: 10px 0px 5px 0px;
    display: block;
}

h1{
    margin-left: 50px;
    color: #7f7f7f;
}

h2{
    color: #01AAEA;
}

input[type="radio"]
, input[type="checkbox"]{
    margin-left: 10px;
}

input{
    margin-bottom: 10px;

}

input[type="text"]{
    width: 400px;
}

textarea{
    width: 400px;
    height: 200px;
}


ul{
    padding: 0px;
    margin: 5px;
}
li{
    list-style-type: none;
}

button{
    background-color: #01AAEA;
    color: white;
    font-size: 1.1em;
    padding: 10px 30px;
}
