<div>
    <h2>Your details</h2>
    <p>Fullname : {{ photographer.fullname }}</p>
    <p>Gender : {{ photographer.gender }}</p>
    <p>Why you like photography :<br /><br />{{ photographer.statement }}</p>
    <p>Photographic Interests :
        <ul>
            <li ng-repeat="interest in photographer.interests">
            {{ interest }}
            </li>
        </ul>
    </p>
    <p><img ng-src="{{ photographer.image }}"></p>
</div>
