<div>
    <h2>Signup!</h2>
    <form enctype="multipart/form-data">

        <div class="form_field_wrapper">
            <label class="form_field" for="fullname">Fullname</label>
            <input ng-model="user.fullname" ng-required="true" type="text" name="fullname" id="fullname" />
        </div>

        <div class="form_field_wrapper">
            <label class="form_field">Gender</label>
            <input ng-model="user.gender" ng-required="true" type="radio" id="gender_male" name="gender" value="male" />
            <label for="gender_male">Male</label>

            <input ng-model="user.gender" ng-required="true" type="radio" id="gender_female" name="gender" value="female" />
            <label for="gender_female">Female</label>
        </div>

        <div class="form_field_wrapper">
            <span class="form_field">Types of photography that interest you?</span>
            <ul>
                <li ng-repeat="interest in interestChoices">
                    <input ng-model="user.interests[interest.label]" ng-required="!somethingSelected(user.interests)" type="checkbox" id="{{ interest.label }}" name="interests[]" value="{{ interest.id }}">
                    <label for="{{ interest.label }}">{{ interest.label }}</label>
                </li>
            </ul>
        </div>

        <div class="form_field_wrapper">
            <label class="form_field" for="statement">What about photography interests you?</label>
            <textarea ng-model="user.statement" id="statement" name="statement"></textarea>
        </div>

        <div class="form_field_wrapper">
            <label class="form_field" for="images">Please upload a photograph you really like.</label>
            <input accept="image/jpeg,image/png" type="file" ng-file-select="uploadFile($files)">
        </div>
        <button class="form_field" ng-click="processForm()">Singup now!</button>

    </form>

    <pre>
        {{ progress }}
    </pre>
</div>